.nxg-isc-wrapper { 
    overflow: hidden; 
    width: 100%;
}
.nxg-isc-container { 
    width: 100%; 
    height: 100%; 
    font-size: 0px;
}
.nxg-isc-item { 
    display: inline-block; 
    width: auto; 
    float: none; 
    padding: 0 var(--smoothscroll-space, 10px);
}

@keyframes smoothscroll { 
    0% { margin-left: 0px; } 
    100% { margin-left: var(--smoothscroll-margin-left, -130px); }
}
::ng-deep .nxg-isc-wrapper>div>.nxg-isc-item:first-of-type { 
    animation-play-state: running;
    -webkit-animation:  smoothscroll var(--smoothscroll-speed, 5s) linear infinite; 
    -moz-animation: smoothscroll var(--smoothscroll-speed, 5s) linear infinite; 
    -ms-animation:smoothscroll var(--smoothscroll-speed, 5s) linear infinite; 
    -o-animation: smoothscroll var(--smoothscroll-speed, 5s) linear infinite; 
    animation: smoothscroll var(--smoothscroll-speed, 5s) linear infinite; 
}

.nxg-isc-wrapper.stop-on-hover:hover ::ng-deep .nxg-isc-item:first-of-type {
    animation-play-state: paused;
}